.DS_Store
lab-bikes-setup/JC-201901-citibike-tripdata.csv
lab-bikes-setup/JC-201901-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201902-citibike-tripdata.csv
lab-bikes-setup/JC-201902-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201903-citibike-tripdata.csv
lab-bikes-setup/JC-201903-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201904-citibike-tripdata.csv
lab-bikes-setup/JC-201904-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201905-citibike-tripdata.csv
lab-bikes-setup/JC-201905-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201906-citibike-tripdata.csv
lab-bikes-setup/JC-201906-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201907-citibike-tripdata.csv
lab-bikes-setup/JC-201907-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201908-citibike-tripdata.csv
lab-bikes-setup/JC-201908-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201909-citibike-tripdata.csv
lab-bikes-setup/JC-201909-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201910-citibike-tripdata.csv
lab-bikes-setup/JC-201910-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201911-citibike-tripdata.csv
lab-bikes-setup/JC-201911-citibike-tripdata.csv.zip
lab-bikes-setup/JC-201912-citibike-tripdata.csv
lab-bikes-setup/JC-201912-citibike-tripdata.csv.zip
lab-bikes-setup/setup-workshop-data.log
lab-create-edge/scripts.zip
